<h1>Class</h1>
<u1>
  <% @classs.each do |classs| %>
  <li><%= "Class code: #{classs.class_code},
           Class name: #{classs.class_name},
           School year: #{classs.school_year},
           Student_list: #{classs.student_list}" %></li>
    <%end %>
</u1>